<ul class="collapsible m-tb-20" data-collapsible="accordion">
  <!-- exemplo de li
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
  </li>
  -->
  {{yield}}
</ul>
