/** MARGIN SHORTCUTS **/
.m-t-2 { margin-top: 0.2rem!important; }
.m-b-2 { margin-bottom: 0.2rem!important; }
.m-l-2 { margin-left: 0.2rem!important; }
.m-r-2 { margin-right: 0.2rem!important; }
.m-tb-2  { margin-top: 0.2rem!important;  margin-bottom: 0.2rem!important;  }
.m-rl-2  { margin-right: 0.2rem!important; margin-left: 0.2rem!important;  }

.m-t-5 { margin-top: 0.5rem!important; }
.m-b-5 { margin-bottom: 0.5rem!important; }
.m-l-5 { margin-left: 0.5rem!important; }
.m-r-5 { margin-right: 0.5rem!important; }
.m-tb-5  { margin-top: 0.5rem!important;  margin-bottom: 0.5rem!important;  }
.m-rl-5  { margin-right: 0.5rem!important; margin-left: 0.5rem!important;  }

.m-t-10 { margin-top: 1rem!important; }
.m-b-10 { margin-bottom: 1rem!important; }
.m-l-10 { margin-left: 1rem!important; }
.m-r-10 { margin-right: 1rem!important; }
.m-tb-10 { margin-top: 1rem!important; margin-bottom: 1rem!important; }
.m-rl-10 { margin-right: 1rem!important; margin-left: 1rem!important;  }

.m-t-15 { margin-top: 1.5rem!important; }
.m-b-15 { margin-bottom: 1.5rem!important; }
.m-l-15 { margin-left: 1.5rem!important; }
.m-r-15 { margin-right: 1.5rem!important; }
.m-tb-15 { margin-top: 1.5rem!important; margin-bottom: 1.5rem!important; }
.m-rl-15 { margin-right: 1.5rem!important; margin-left: 1.5rem!important;  }

.m-t-20 { margin-top: 2rem!important; }
.m-b-20 { margin-bottom: 2rem!important; }
.m-l-20 { margin-left: 2rem!important; }
.m-r-20 { margin-right: 2rem!important; }
.m-tb-20 { margin-top: 2rem!important; margin-bottom: 2rem!important; }
.m-rl-20 { margin-right: 2rem!important; margin-left: 2rem!important;  }


/** PADDING SHORTCUTS **/
.p-t-2 { padding-top: 0.2rem!important; }
.p-b-2 { padding-bottom: 0.2rem!important; }
.p-l-2 { padding-left: 0.2rem!important; }
.p-r-2 { padding-right: 0.2rem!important; }
.p-tb-2  { padding-top: 0.2rem!important;  padding-bottom: 0.2rem!important;  }
.p-rl-2  { padding-right: 0.2rem!important; padding-left: 0.2rem!important;  }

.p-t-5 { padding-top: 0.5rem!important; }
.p-b-5 { padding-bottom: 0.5rem!important; }
.p-l-5 { padding-left: 0.5rem!important; }
.p-r-5 { padding-right: 0.5rem!important; }
.p-tb-5  { padding-top: 0.5rem!important;  padding-bottom: 0.5rem!important;  }
.p-rl-5  { padding-right: 0.5rem!important; padding-left: 0.5rem!important;  }

.p-t-10 { padding-top: 1rem!important; }
.p-b-10 { padding-bottom: 1rem!important; }
.p-l-10 { padding-left: 1rem!important; }
.p-r-10 { padding-right: 1rem!important; }
.p-tb-10 { padding-top: 1rem!important; padding-bottom: 1rem!important; }
.p-rl-10 { padding-right: 1rem!important; padding-left: 1rem!important;  }

.p-t-15 { padding-top: 1.5rem!important; }
.p-b-15 { padding-bottom: 1.5rem!important; }
.p-l-15 { padding-left: 1.5rem!important; }
.p-r-15 { padding-right: 1.5rem!important; }
.p-tb-15 { padding-top: 1.5rem!important; padding-bottom: 1.5rem!important; }
.p-rl-15 { padding-right: 1.5rem!important; padding-left: 1.5rem!important;  }

.p-t-20 { padding-top: 2rem!important; }
.p-b-20 { padding-bottom: 2rem!important; }
.p-l-20 { padding-left: 2rem!important; }
.p-r-20 { padding-right: 2rem!important; }
.p-tb-20 { padding-top: 2rem!important; padding-bottom: 2rem!important; }
.p-rl-20 { padding-right: 2rem!important; padding-left: 2rem!important;  }
