
<div class="row m-t-20">
    {{#link-to "decks"}}
      {{#card-menu title="Decks" icon="view_carousel"}}
        Lista todos os seus Anki Decks.
      {{/card-menu}}
    {{/link-to}}
    {{#link-to "study"}}
      {{#card-menu title="Estudar" icon="import_contacts"}}
        Selecione seu Deck e comece a estudar.
      {{/card-menu}}
    {{/link-to}}
    {{#link-to "search"}}
      {{#card-menu title="Buscar" icon="search"}}
        Buscar entre seus Decks ou Cards.
      {{/card-menu}}
    {{/link-to}}
</div>
