
<div class="row">

  <table class="col m5">
    <thead>
      <tr>
        <th data-field="id">Tipo</th>
        <th data-field="name">Descrição</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Cartas Novas</td>
        <td>Que nunca foram revisadas</td>
      </tr>
      <tr>
        <td>Cartas Atrasadas</td>
        <td>Que passou da hora de revisar</td>
      </tr>
    </tbody>
  </table>

</div>

<div class="row m-t-2">
  {{button-materialize icon="keyboard_arrow_left" label="Voltar" link="application"}}
</div>
